* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: #555;
  font-size: 16px;
}

.nav a:hover {
  color: #000;
}

.cart {
  position: relative;
  font-size: 22px;
  cursor: pointer;
  color: #333;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px 40px;
}

.btn {
  padding: 10px 15px;
  background-color: #457b9d;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn.btn-danger,
.btn.btn-danger:hover {
  background-color: #db2d41;
}

.btn:hover {
  background-color: #1d3557;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}

.cart-header .btn {
  padding: 10px 20px;
  background-color: #6d93c8;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.cart-container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 100px;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.cart-header h2 {
  font-size: 20px;
  color: #333;
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item-info h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.item-info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.item-actions {
  text-align: right;
}

.item-actions .price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}
